{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container mt-5 py-5">
    <div class="row justify-content-center">
        <div class="col-12">

            <h1>{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %}</p>

            <a class="btn btn-lg btn-minwidth btn-outline-primary rounded-pill" href="{% url 'homepage' %}"
                aria-label="Go to Homepage">Go back to Homepage</a>
        </div>
    </div>
</div>
{% endblock %}