{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block extra_title %} - Booking{% endblock %}

{% block content %}

<section class="py-8">
    <!-- Add Image in Backgroud -->
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h2 class="fw-bold">Booking Page</h2>
                <hr class="w-25 mx-auto text-dark" style="height:2px;" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-9 col-xl-8 text-center">
                <p>The best booking Service for your needs!</p>
            </div>
        </div>
    </div>

    <div class="container card">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8">
                <!-- <img src="{% static 'images/parkland.jpg' %}" class="card-img-top rounded" alt="Hero Image"> -->
                <div class="card-body">
                    <form method=POST>

                        <div class="row">
                            <div id="div_id_start_date" class="mb-3 col-12 col-md-6">
                                <label for="id_start_date" class="form-label requiredField">Start date
                                    <span class="asteriskField">*</span>
                                </label>
                                <span type="date" name="start_date" class="form-control" id="id_start_date"
                                    value={{ start_date }}>{{ start_date }}
                                </span>
                            </div>

                            <div id="div_id_end_date" class="mb-3 col-12 col-md-6">
                                <label for="id_end_date" class="form-label requiredField">End date
                                    <span class="asteriskField">*</span>
                                </label>
                                <span type="date" name="end_date" class="form-control" id="id_end_date"
                                    value={{ end_date }}>{{ end_date }}
                                </span>
                            </div>
                        </div>

                        {% csrf_token%}
                        {{ form|crispy }}

                        <div class="mb-6">
                            <label for="id_start_date" class="form-label requiredField">Select Parking Slot
                                <span class="asteriskField">*</span>
                            </label>
                            <select class="select form-select" name="parking" id="id_parking" required>
                                <option disabled selected>Select Parking Slot
                                    <span class="asteriskField">*</span>
                                </option>
                                {% for parking in parking_list %}
                                <option value="{{ parking.id }}" class="text-black"> {{ parking.name }} -
                                    {{ parking.price }} Euro
                                </option>
                                {% endfor %}
                            </select>
                        </div>



                        <button type="submit" class="btn btn-lg btn-outline-primary rounded-pill">Book</button>
                    </form>
                    <!-- <a href="#" class="btn btn-primary">Next</a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">

    </div>
</section>




{% endblock %}