{% extends 'base.html' %}

{% load static %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% block extra_title %} - Booking{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if messages %}

{% for message in messages %}
<div id="msg" class="alert alert-{{ message.tags }} alert-dismissible mt-3 rounded-2 fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% endif %}

<section class="py-4 mt-5 mb-4">
    <div class="container-lg">
        <div class="row justify-content-center hero-text">
            <div class="col text-center text-warning">
                <h2 class="fw-bold">Booking Page</h2>
                <hr class="w-25 mx-auto text-dark" style="height:2px;" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-9 col-xl-8 text-center">
                <p>The best booking Service for your needs!</p>
            </div>
        </div>
    </div>

    <div class="container card card bg-cb-image rounded-3"
        style="background-image: url({% static 'images/bg-booking.webp' %});">
        <div class="row py-5 d-flex justify-content-center align-items-center">
            <div class="col-11 col-md-10 col-lg-8 col-xl-6 images-text-forms">
                <div class="card-body">
                    <form method=POST>

                        <div class="row">
                            <div id="div_id_start_date" class="mb-3 col-12 col-md-6">
                                <label for="id_start_date" class="form-label requiredField">Start date
                                    <span class="asteriskField">*</span>
                                </label>
                                <span type="date" name="start_date" class="form-control" id="id_start_date"
                                    value={{ start_date }}>{{ start_date }}
                                </span>
                            </div>

                            <div id="div_id_end_date" class="mb-3 col-12 col-md-6">
                                <label for="id_end_date" class="form-label requiredField">End date
                                    <span class="asteriskField">*</span>
                                </label>
                                <span type="date" name="end_date" class="form-control" id="id_end_date"
                                    value={{ end_date }}>{{ end_date }}
                                </span>
                            </div>
                        </div>

                        {% csrf_token%}
                        {{ form|crispy }}

                        <div id="div_id_car" class="mb-3">

                            {% if car_list %}

                            <label for="id_car" class="form-label requiredField">Select Your Car
                                <span class="asteriskField">*</span>
                            </label>
                            <select name="car" class="select form-select" required="" id="id_car">
                                <option disabled selected>--------------</option>

                                {% for car in car_list %}

                                <option value="{{ car.id }}" class="text-black">
                                    {{ car.registration_number }}
                                </option>

                                {% endfor %}

                            </select>

                            {% else %}

                            <span class="form-control border-2 border-danger text-danger fw-bold">
                                No Car Available! <a href="{% url 'profile-car' %}">Click Here</a> to register your car!
                            </span>

                            {% endif %}

                        </div>

                        <div class="mb-3">

                            {% if parking_list %}

                            <label for="id_start_date" class="form-label requiredField">Select Parking Slot
                                <span class="asteriskField">*</span>
                            </label>
                            <select class="select form-select" name="parking" id="id_parking" required>

                                <option disabled selected>--------------</option>
                                {% for parking in parking_list %}
                                <option value="{{ parking.id }}" class="text-black"> {{ parking.name }}
                                </option>
                                {% endfor %}

                            </select>
                            {% else %}
                            <span class="form-control border-2 border-danger text-danger fw-bold">
                                Sorry, No Parking Available!
                            </span>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div id="div_id_final_price" class="mb-3 col-12 col-md-6">
                                <label for="id_final_price" class="form-label requiredField">Price:

                                </label>
                                <span type="number" name="final_price" class="col-12" value={{ final_price }}
                                    id="id_final_price">{{ final_price }} Euro
                                </span>
                            </div>
                        </div>
                        <!-- <button type="submit" class="btn btn-lg btn-outline-primary rounded-pill">Book</button> -->

                        {% if parking_list and car_list %}
                        <!-- Button to trigger the confirmation booking modal -->
                        <button type="button" class="m-2 btn btn-lg btn-outline-primary rounded-pill"
                            data-bs-toggle="modal" data-bs-target="#confirmationModal">
                            Book
                        </button>

                        <!-- Booking Confirmation Modal -->
                        <div class="modal fade" id="confirmationModal" tabindex="-1"
                            aria-labelledby="confirmationModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content shadow p-3 m-5 rounded-3 border border-5 border-warning">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmationModalLabel">Confirm Booking?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-dark">Click Book again to confirm your booking or Cancel to
                                            continue editing!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="m-2 btn btn-lg btn-outline-warning rounded-pill"
                                            data-bs-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit"
                                            class="m-2 btn btn-lg btn-outline-primary rounded-pill">Book
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="m-2 btn btn-lg btn-outline-warning rounded-pill" href="{% url 'searchparking' %}">Go
                            Back
                        </a>
                        {% else %}

                        <a class="m-2 btn btn-lg btn-outline-warning rounded-pill" href="{% url 'searchparking' %}">Go
                            Back
                        </a>

                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-outline-primary rounded-pill" href="{% url 'account_login' %}">Login</a>

{% endif %}

{% endblock %}