{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="text-dark">
    <h1 class="mt-4">Booking Manager</h1>
    <ol class="breadcrumb mb-4">
        <li class="active">Review the information of your booking or use the Delete Button to cancel them (FREE
            CANCELLATION)!
        </li>
    </ol>

    <div class="row d-flex ">
        <div class="col-4 alert alert-light">

            {% for booking in booking_list %}

            {% if booking.created_by.id == user.id %}

            <div class="p-3 mb-2 mt-2 alert alert-dark rounded-3">
                <p>Booking Number: <a href="{% url 'booking-details' booking.pk %}">{{booking.code}}</a></p>
                <p>Created by: {{ booking.created_by.username }} </p>
                <p>Created date: {{ booking.created_date }} </p>

                <a class="btn btn-lg btn-outline-danger rounded-pill mt-4"
                    href="{% url 'booking-delete' booking.pk %}">Delete</a>

            </div>

            {% endif %}

            {% endfor %}

        </div>
    </div>
</div>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-outline-primary rounded-pill" href="{% url 'account_login' %}">Login</a>

{% endif %}

{% endblock %}