{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="text-dark">
    <h1 class="mt-4">Delete Booking Number: {{ booking.code }}</h1>
    <ol class="breadcrumb mb-4">
        <li class="active">Created by:{{ booking.created_by }}</li>
    </ol>

    <div class="row d-flex justify-content-center align-items-center mt-5 mt-md-8">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <div class="delete-modals text-center">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token%}
                        <h3 class="card-title">Are you sure?</h3>
                        <p class="card-text">Click Confirm to Delete the Booking or click Back to go to the Booking
                            List!
                        </p>

                        <a href="{% url 'booking-list' %}" class="btn btn-lg btn-outline-primary rounded-pill">Back</a>
                        <button type="submit" class="btn btn-lg btn-outline-danger rounded-pill">Confirm</button>
                    </form>

                </div>
                <div class="card-footer text-dark">
                    Attention: The process is irreversible!
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-outline-primary rounded-pill" href="{% url 'account_login' %}">Login</a>

{% endif %}

{% endblock %}