{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<h1>Created By: {{ booking.created_by }}</h1>
<p>Booking Code: {{ booking.code }}</p>

<a class="btn btn-lg btn-outline-primary rounded-pill" href="{% url 'booking-list' %}">Back</a>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-outline-primary rounded-pill" href="{% url 'account_login' %}">Login</a>

{% endif %}

{% endblock %}