{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}


<!-- ===============================================-->
<!--                Main Content                    -->
<!-- ===============================================-->

<h1 class="mt-4">My Parkland</h1>
<ol class="breadcrumb mb-4">
    <li class="active"> Manage your Bookings and Settings in one single place!</li>
</ol>


<div class="row">
    <div class="col-xl-3 col-md-6">

        <div class="card bg-primary text-white mb-4 rounded-3">
            <div class="card-body fs-1">Bookings: <span class="ms-2">{{ bookings }}</span></div>

            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'booking-list' %}">View Bookings</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4 rounded-3">
            <div class="card-body fs-1">Cars: <span class="ms-2">{{ cars }}</span></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'profile-car-list' %}">View Cars</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4 rounded-3">
            <div class="card-body fs-1">Feedback: <span class="ms-2">{{ feedbacks }}</span></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'list-feedback' %}">View Feedbacks</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4 rounded-3">
            <div class="card-body fs-1">Rewards: <span class="ms-2">{{ rewards }}</span>Pt</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#"></a>
                <div class="small text-warning"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-4">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header bg-secondary rounded-3">
                <!-- ===============================================-->
                <!--                    Messages                    -->
                <!-- ===============================================-->
                <h3 class="text-white mb-0"> Messages Center:</h3>
            </div>
            <div>
                {% if messages %}

                {% for message in messages %}

                <div id="msg" class="alert alert-{{ message.tags }} alert-dismissible mt-3 rounded-2 fade show"
                    role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                {% endfor %}

                {% else %}

                <div class="alert alert-dismissible mt-3 rounded-2 fade show">
                    <p class="text-dark">No messages...</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-minwidth btn-outline-primary rounded-pill" href="{% url 'account_login' %}"
    aria-label="Login">Login</a>

{% endif %}

{% endblock %}