{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

<div class="text-dark">
    <h1 class="mt-4">Edit Feedback: {{ feedback.title }}</h1>
    <ol class="breadcrumb mb-4">
        <li class="active">Update your feedback!</li>
    </ol>

    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex flex-start w-100">
                        <div class="w-100">
                            <form method="POST">
                                <div class="form-radio-hidden">
                                    {% csrf_token%}
                                    {{ form|crispy }}
                                </div>
                                <h5>How much did you rate us?</h5>
                                <div class="row">
                                    <div class="col">
                                        <div class="rating">
                                            <input type="radio" id="id_rating_stars_4" name="rating_stars" value="5"
                                                required><label for="id_rating_stars_4" title="Excellent">5
                                                stars</label>
                                            <input type="radio" id="id_rating_stars_3" name="rating_stars" value="4"
                                                required><label for="id_rating_stars_3" title="Good">4 stars</label>
                                            <input type="radio" id="id_rating_stars_2" name="rating_stars" value="3"
                                                required><label for="id_rating_stars_2" title="OK">3 stars</label>
                                            <input type="radio" id="id_rating_stars_1" name="rating_stars" value="2"
                                                required><label for="id_rating_stars_1" title="Poor">2 stars</label>
                                            <input type="radio" id="id_rating_stars_0" name="rating_stars" value="1"
                                                required><label for="id_rating_stars_0" title="Bad">1 star</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit"
                                    class="btn btn-lg btn-outline-primary rounded-pill">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-outline-primary rounded-pill" href="{% url 'account_login' %}">Login</a>

{% endif %}

{% endblock %}