{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

{% if messages %}

{% for message in messages %}
<div id="msg" class="alert alert-{{ message.tags }} alert-dismissible mt-3 rounded-2 fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% endif %}

<div class="text-dark">
    <h1 class="mt-4">Feedback Manager</h1>
    <ol class="breadcrumb mb-4">
        <li class="active">Review, update or delete your feedback!</li>
    </ol>

    <div class="row d-flex ">
        <div class="col-12 col-md-10 col-xl-8 col-xxl-6 alert alert-light">

            {% for feedback in feedback_list %}

            {% if feedback.created_by.id == user.id %}

            <div class="p-3 mb-2 mt-2 alert alert-dark rounded-3">
                <h5> Title: <a href="{% url 'details-feedback' feedback.pk %}">{{feedback.title}}</a> </h5><br />|
                Author: {{ feedback.created_by.username }} - {{ feedback.created_date }} | Rating:
                {{ feedback.rating_stars }}/5 <br />
                Comment: {{ feedback.comment|slice:":200" }}... <br />

                <a class="btn btn-lg btn-minwidth btn-outline-primary rounded-pill mt-4"
                    href="{% url 'edit-feedback' feedback.pk %}">Edit</a>
                <a class="btn btn-lg btn-minwidth btn-outline-danger rounded-pill mt-4"
                    href="{% url 'delete-feedback' feedback.pk %}">Delete</a>

            </div>

            {% endif %}

            {% endfor %}

        </div>
    </div>
</div>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-minwidth btn-outline-primary rounded-pill" href="{% url 'account_login' %}">Login</a>

{% endif %}

{% endblock %}