{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="text-dark">
    <h1 class="mt-4">Feedback Manager</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Here you can update or delete your feedback!</li>
    </ol>

    <div class="row d-flex ">
        <div class="col-12 alert alert-light">

            {% for feedback in feedback_list %}
            <div class="p-3 mb-2 mt-2 alert alert-dark">
                Title: <a href="{% url 'details-feedback' feedback.pk %}">{{feedback.title}}</a> |
                Author: {{ feedback.created_by.username }} - {{ feedback.created_date }} <br />
                Rating: {{ feedback.rating_stars }} <br />
                Comment: {{ feedback.comment|slice:":200" }}

                <a class="btn btn-lg btn-outline-primary rounded-pill"
                    href="{% url 'edit-feedback' feedback.pk %}">Edit</a>
                <a class="btn btn-lg btn-outline-danger rounded-pill"
                    href="{% url 'delete-feedback' feedback.pk %}">Delete</a>

            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-outline-primary rounded-pill" href="{% url 'account_login' %}">Login</a>

{% endif %}

{% endblock %}