{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="text-dark">
    <h1 class="mt-4">Images</h1>
    <ol class="breadcrumb mb-4">
        <li class="active">Here you can update or delete your feedback!</li>
    </ol>

    <div class="row d-flex ">
        <div class="col-12 alert alert-light">
            <h1>Inside FOR LOOP</h1>

            {% for profileavatar in obj_list %}

            <div class="row d-flex">
                <div class="col-12">
                    <img src="{{ user.profileavatar.avatar.url }}" alt="Avatar">
                    This is: {{ user.profileavatar.user }}
                    This is URL: {{ user.profileavatar.avatar.url }}
                    This is URL2: {{ profileavatar.avatar.url }}
                    This is URL3: {{ profileavatar.avatar }}
                </div>
            </div>

            {% endfor %}


            <h1>Outside FOR LOOP</h1>

            <img src="{{ user.profileavatar.avatar.url }}" alt="Avatar">
            This is: {{ user.profileavatar.user }}
            This is URL: {{ user.profileavatar.avatar.url }}
            This is URL2: {{ profileavatar.avatar.url }}
            This is URL3: {{ profileavatar.avatar }}



            <h1>Additional Ways</h1>

            {{ profileavatar.avatar.url }}

            {{ media.images.avatars.url }}
        </div>
    </div>
</div>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-outline-primary rounded-pill" href="{% url 'account_login' %}">Login</a>

{% endif %}

{% endblock %}