{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="text-dark">
    <h1 class="mt-4">Car Manager</h1>
    <ol class="breadcrumb mb-4">
        <li class="active">Review your car information or Delete them!!!</li>
    </ol>

    <!----------------------------->
    <!--        Cars' List       -->
    <!----------------------------->
    <div class="row d-flex">
        <div class="col-12 col-md-10 col-xl-8 col-xxl-6 alert alert-light">
            {% for car in car_list %}

            {% if car.user.id == user.id %}

            <div class="p-3 mb-2 mt-2 alert alert-dark rounded-3">
                <h5>Car</h5>
                <p>Registration Number: {{ car.registration_number }} </p>
                <p> Electric Car:
                    {% if car.is_electric %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </p>

                <a class="btn btn-lg btn-minwidth btn-outline-danger rounded-pill mt-4"
                    href="{% url 'profile-car-delete' car.pk %}" aria-label="Delete">Delete</a>
            </div>

            {% endif %}

            {% endfor %}

        </div>
    </div>
</div>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-minwidth btn-outline-primary rounded-pill" href="{% url 'account_login' %}"
    aria-label="Login">Login</a>

{% endif %}

{% endblock %}