{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="text-dark">
    <h1 class="mt-4">Delete Car</h1>
    <ol class="breadcrumb mb-4">
        <li class="active">Registration Number: {{ car.registration_number }}</li>
    </ol>

    <div class="row d-flex justify-content-center align-items-center mt-5 mt-md-8">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <div class="delete-modals text-center">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token%}
                        <h3 class="card-title">Are you sure?</h3>
                        <p class="card-text text-danger fw-bold">Attention: All booking associated with this car will be
                            deleted if you proceed.</p>
                        <p class="card-text">Click on the Delete Button below to delete your Car.</p>
                        <a href="{% url 'profile-car-list' %}"
                            class="btn btn-lg btn-minwidth btn-outline-primary rounded-pill" aria-label="Back">Back
                        </a>
                        <button type="submit" class="btn btn-lg btn-minwidth btn-outline-danger rounded-pill"
                            aria-label="Delete">Delete
                        </button>
                    </form>

                </div>
                <div class="card-footer text-dark">
                    Attention: The process is irreversible!
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-minwidth btn-outline-primary rounded-pill" href="{% url 'account_login' %}"
    aria-label="Login">Login</a>

{% endif %}

{% endblock %}