{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

<div class="text-dark">
    <h1 class="mt-4">Avatar: {{ user }} Profile</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Upload your image here!</li>
    </ol>

    <div class="row d-flex">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex flex-start w-100">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-lg btn-outline-primary rounded-pill">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% if media.images.avatars.url %}
<div class="d-md-flex align-items-md-center mt-5 text-center text-md-start"></div>
<img class="img-fluid me-4 me-md-3 me-lg-4 rounded-circle" src="{{ profileavatar.avatar.url }}" width="200"
    alt="Avatar">

{% else %}
<img class="img-fluid me-4 me-md-3 me-lg-4 rounded-circle" src="{% static 'images/avatar/kamala.webp'%}" width="200"
    alt="Avatar">
</div>
{% endif %}


{{ profileavatar.avatar.url }}

{{ media.images.avatars.url }}




{% else %}

<h1 class="mt-4">Authentication Error!</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Access reserved only to authenticated user!</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Click on the Link below to be redirected to the Login Page!</li>
</ol>
<a class="btn btn-lg btn-outline-primary rounded-pill" href="{% url 'account_login' %}">Login</a>

{% endif %}

{% endblock %}